:root{

--bg:#08121C;
--card:#101C29;
--card2:#172535;

--orange:#F5A23B;
--orange2:#D57D18;

--white:#FFFFFF;
--gray:#AEB7C5;

--green:#4BD77C;

--radius:22px;

--shadow:
0 15px 40px rgba(0,0,0,.45);

}